.title {
  font-size: 2rem;
  color: var(--text);
  padding-bottom: 1rem;
  position: relative;
  text-decoration: none;
  font-weight: 600;
}

.timeline-item::before {
    content: none;
    padding: 0;
}

.MuiTimelineItem-missingOppositeContent:before {
  content: none!important;
}

.horiontal-line {
  background: #5f2eea;
  width: 7rem;
  height: 5px;
  border: none;
  border-radius: 2px;
  background-size: 600% 600%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  margin-bottom: 1.5rem;
  margin-top: 0.7rem;
}

.event-image {
  height: 90%;
}

.event-image-phone {
  width: 80%;
}

.event-description-wrap {
  display: flex;
  flex-direction: column;
  color: var(--text);
  outline: none;
}

.event-title {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.event-date {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.event-desc {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}