.Events {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  @media (min-width: 1000px)
  {
    .img-fluid{
      margin-top: 50px;  
      width: 70%;
        border-radius: 20px;
    }
    .Events .tp-title {
      color: #ffffff;
      font-size: 5.5vw;
      padding-top: 2vw;
      text-align: center;
    }
    .register-button{
      background-color: #5F2EEA;
      font-size: 16px;
      line-height: 24px;
      color: white;
      padding: 15px 100px;
      margin: 15px 0 ;
      border-radius: 15px;
      border-style: none;  
    }
    
    .Events .tp-desc {
      color: #ffffff;
      font-size: 1.458vw;
      margin: 2vw 8.95vw;
      text-align: center;
    }
    .Events .tp-items {
      margin: 7vw 8.95vw 0;
    }
    
    .Events .tp-item {
      justify-content: center;
    }
    
    .tp-items .tp-item-info {
      margin-top: 60px;
      width: 25vw;
      padding-bottom: 2vw;
    }
    
    .tp-item .tp-item-image {
      padding-bottom: 9vw;
      align-self: center;
    }
    
    .tp-item-info .tp-item-title {
      font-size: 32px;
      font-style: SemiBold;
      color: #ffffff;
      line-height: 48px;
      margin-bottom: 1.5vw;
    }
    
    .tp-item-info .tp-item-desc {
      font-size: 20px;
      font-style: Medium;
      color: #ffffff;
      width: 25vw;
      font-weight: 400;
    }
    .tp-item-info .tp-item-date {
      font-size: 24px;
      padding-bottom:20px;
      color: #ffffff;
      width: 25vw;
      font-weight: 400;
    }
    
    .tp-item:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right !important;
    }
    
    .tp-item:nth-child(even) .tp-item-info {
      padding-right: 4.84vw;
      margin-left: auto;
    }
    
    .tp-item:nth-child(even) .tp-item-desc {
      margin-left: auto;
    }
    
    .tp-item:nth-child(even) .tp-item-image {
      padding-left: 4.84vw;
      text-align: left;
      margin-right: auto;
    }
    
    .tp-item:nth-child(odd) {
      text-align: left !important;
    }
    
    .tp-item:nth-child(odd) .tp-item-info {
      padding-left: 4.84vw;
    }
    
    .tp-item:nth-child(odd) .tp-item-image {
      padding-right: 4.84vw;
      text-align: end;
    }
    
    .tp-item:nth-child(odd) .col-md-6:nth-child(even) {
      height: 100%;
    }
    
    /* .tp-item:last-child .tp-item-image {
      padding-bottom: 15vw;
    } */
    
    .Events .c-line {
      width: 0;
      border-right: 6px solid #5F2EEA;
    }
    .c-circle{
        border:6px solid #5F2EEA;
        border-radius:50%;
        background:rgba(0,0,0,0);
        width:100px;
        height:100px;
        text-align:center;
        line-height:100px;
      
    }
    .Events .c-circle {
      width: 2vw;
      height: 2vw;
      background-color: black;
      transform: translateX(-44%) translateY(200%);
    }

  }

  .img-fluid{
    margin-top: 50px;  
    width: 70%;
      border-radius: 20px;
  }
  .Events .tp-title {
    color: #ffffff;
    font-size: 5.5vw;
    padding-top: 2vw;
    text-align: center;
  }
  .register-button{
    background-color: #5F2EEA;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 15px 100px;
    margin: 15px 0 ;
    border-radius: 15px;
    border-style: none;  
  }
  
  .Events .tp-desc {
    color: #ffffff;
    font-size: 1.458vw;
    margin: 2vw 8.95vw;
    text-align: center;
  }
  .Events .tp-items {
    margin: 7vw 8.95vw 0;
  }
  
  .Events .tp-item {
    justify-content: center;
  }
  
  .tp-items .tp-item-info {
    margin-top: 60px;
    width: 25vw;
    padding-bottom: 2vw;
  }
  
  .tp-item .tp-item-image {
    padding-bottom: 9vw;
    align-self: center;
  }
  
  .tp-item-info .tp-item-title {
    font-size: 32px;
    font-style: SemiBold;
    color: #ffffff;
    line-height: 48px;
    margin-bottom: 1.5vw;
  }
  
  .tp-item-info .tp-item-desc {
    font-size: 20px;
    font-style: Medium;
    color: #ffffff;
    width: 25vw;
    font-weight: 400;
  }
  .tp-item-info .tp-item-date {
    font-size: 24px;
    padding-bottom:20px;
    color: #ffffff;
    width: 25vw;
    font-weight: 400;
  }
  
  /* .tp-item:last-child .tp-item-image {
    padding-bottom: 15vw;
  } */
  
  .Events .c-line {
    width: 0;
    border-right: 6px solid #5F2EEA;
  }
  .c-circle{
      border:6px solid #5F2EEA;
      border-radius:50%;
      background:rgba(0,0,0,0);
      width:100px;
      height:100px;
      text-align:center;
      line-height:100px;
    
  }
  .Events .c-circle {
    width: 2vw;
    height: 2vw;
    background-color: black;
    transform: translateX(-44%) translateY(200%);
  }



  
  /* @media (min-width: 600px) {
    .Events {
      background-color: #171636;
    }
  
    .Events .tp-title {
      color: #3cfaff;
      font-size: 5.55vw;
      padding-top: 15.11vw;
      text-align: center;
    }
  
    .Events .tp-desc {
      color: #ffffff;
      font-size: 3.61vw;
      margin: 3vw 10.2vw;
      text-align: center;
      font-weight: 300;
    }
  
    .Events .tp-items {
      display: none;
    }

  
    .Events .c-line {
      width: 0;
      height: calc(245 * var(--vm));
      border-right: 2px solid #f74b42;
      align-self: flex-end;
      transform: translateX(calc(12.5 * var(--vm)));
    }

  
    .Events .c-circle {
      width: calc(25 * var(--vm));
      height: calc(25 * var(--vm));
      background-color: #171636;
      transform: translateX(-3%);
      margin-top: 20%;
    }
  }  */