:root {
  --navbar-dark: rgba(14, 14, 21, 0.5);
  --navbar-light: rgba(239, 240, 246, 0.5);
  --navbar-dark-text: rgba(255, 255, 255, 0.8);
  --navbar-light-text: rgba(14, 14, 21, 0.8);
  --dropdown-dark: rgba(25, 25, 40, 0.5);
  --dropdown-light: rgba(255, 255, 255, 0.5);
  --dark-mode-bg: rgba(14, 14, 21, 1);
  --light-mode-bg: rgba(239, 240, 246, 1);
  --dark-mode-text: rgba(255, 255, 255, 1);
  --light-mode-text: rgba(0, 0, 0, 1);
  --form-background-dark: rgba(255, 255, 255, 0.1);
  --form-background-light: rgba(255, 255, 255, 1);

  --mode: "dark";
  --navbar-bg: var(--navbar-dark);
  --navbar-text: var(--navbar-dark-text);
  --dropdown-bg: var(--dropdown-dark);
  --background: var(--dark-mode-bg);
  --text: var(--dark-mode-text);
  --blue: rgba(95, 46, 234, 1);
  --form-bg: var(--form-background-dark);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  transition: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

:root::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

:root::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
